* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  display: block;
  width: 1024px;
  margin: 0 auto !important;
  height: 100vh;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  z-index: 5;
  background: #fff;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 50px 0;
  height: calc(100% - 70px);
}

#more {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

table {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  vertical-align: middle;
  color: #000;
  background: #fff;
  padding: 15px;
  width: 100%;
  height: 265px;
  margin-bottom: 15px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

table thead {
  position: relative;
  font-weight: bolder;
  width: 100%;
}

table thead:nth-child(1) {
  position: relative;
  width: 100%;
}

table thead .mtitle {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  width: 100%;
}

table tbody {
  font-size: 15px;
}

table td {
  padding: 5px;
}

table .bg-info {
  display: inline;
  color: blueviolet;
  font-weight: bolder;
  font-size: 20px;
  background: yellow;
  border-radius: 100%;
  padding: 5px;
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
}

.addBtn {
  display: block;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin: 25px;
  border: none;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  background: blueviolet;
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 426px) {
  #more {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  body {
    padding: 0;
  }
  .wrapper {
    position: relative;
    display: block;
    width: 1024px;
    margin: 0;
    height: 100%;
    background: #fff;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }
}
/*# sourceMappingURL=app.css.map */