* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none !important;
}

$primary: blueviolet;
$secondary: #ebebeb;
$secondary2: #d5d5d5;

body {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    //padding: 25px 0;
    //overflow: hidden;
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 1024px;
    margin:0 auto;
    height: 100%;
    background: #fff;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 5;
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}
.content {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 50px 0;
    height: calc(100% - 70px);
    // background: red;
}
#more {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
table {
    position: relative;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    color: #000;
    background: #fff;
    padding: 15px;
    width: 100%;
    height: 265px;
    margin-bottom: 15px;

    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));

    thead {
        position: relative;
        font-weight: bolder;
        width: 100%;

        &:nth-child(1) {
            position: relative;
            width: 100%;
        }

        .mtitle {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            color: $primary;
            width: 100%;
        }
    }
    tbody {
        font-size: 15px;
    }
    td {
        padding: 5px;
    }
    
    .bg-info {
        display: inline;
        color: $primary;
        font-weight: bolder;
        font-size: 20px;
        background: yellow;
        border-radius: 100%;
        padding: 5px;
        filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
    }
}

.addBtn {
    display: block;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 35px 25px;
    border: none;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
    cursor: pointer;
    background: $primary;
    color: #fff;
    font-size: 24px;
}

.modal {
    position: absolute;
    display: none;
    opacity: 0;
    visibility: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 12;
    transition: all 500ms ease-in-out;


    
    &.show {
        visibility: visible;
        opacity: 1;
        transition: all 500ms ease-in-out;
        display: block;
    }
}
.modal-dialog {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
    overflow: hidden;
    min-width: 310px;
    padding: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid $secondary2;
    border-right: 1px solid $secondary2;
    border-left: 1px solid $secondary2;

    .modal-content {
        display: blocks;
        padding: 15px;
    }

    .titlebar {
        position: relative;
        display: grid;
        grid-template-columns: 18px auto;
        align-items: center;
        width: 100%;
        background: linear-gradient(to top, $secondary, $secondary2);
        color: #4d494d;
        text-align: center;
        width: 100%;
        padding: 3px 15px;
        border-top: 1px solid $secondary;
        border-bottom: 1px solid $secondary2;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        user-select: none;

        .close {
            background: #ff5c5c;
            border: 1px solid #e33e41;
            border-radius: 50%;
            display: inline-block;
            color: #fff;
        }
    }
}

.form {
    position: relative;
    display: block;
    width: 100%;

    .input-group {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        margin: 5px 0;

        label {
            display: block;
            padding: 0;
            margin: 0;
        }

        .form-control {
            display: block;
            width: 100%;
            margin: 5px 0;
            padding: 5px;
            border: 1px inset rgba(0,0,0,0.1);
            border-radius: 6px;
            background: $secondary;
        }

        .form-button {
            position: relative;
            display: inline-block;
            background: $primary;
            filter: drop-shadow(0 5px 5px rgba(0,0,0,0.2));
            border: none;
            color: #fff;
            padding: 5px 0;
            border-radius: 6px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 426px) {
    #more {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .wrapper {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        background: #fff;
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
    }
}

// @media screen and (min-width: 1440px) {
//     #more {
//         display: grid;
//         grid-gap: 10px;
//         grid-template-columns: auto auto auto;
//         width: 100%;
//     }
// }


